<!DOCTYPE html>
<html>

<head>
    <title>Forgot Password</title>

    <link rel="stylesheet" href="{{ url_for('static',
    filename='css/forgot_password.css') }}">
</head>

<body>

    <div class="forgot-container">

        <h2>Forgot Password</h2>

        {% if message %}
        <p class="message">{{ message }}</p>
        {% endif %}

        <form method="POST">

            <input type="email" name="email" placeholder="Enter Email" required>

            <input type="password" name="new_password" placeholder="New Password" required>

            <input type="password" name="confirm_password" placeholder="Confirm Password" required>

            <button type="submit">
                Reset Password
            </button>

        </form>

        <a href="/login" class="back-link">
            ← Back To Login
        </a>

    </div>

</body>

</html>